<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Admin/AddQL.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<h2 align="center">Thông tin quản lý</h2>
<br><br>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form>
        <div class="row">
          <div class="col-50">
            <h3>Thông tin chi tiết</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="firstname"  value="Nguyễn Văn A">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email"  value="nguyenvana@gmail.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address"  value="K59/32, Lien Chieu, Da Nang, Viet Nam">
            <label for="city"><i class="fa fa-phone"></i> Phone Number</label>
            <input type="text" id="phone" name="phone"  value="0966778899">

            <div class="row">
              <div class="col-50">
                <label for="birthday">Username:</label>
                <input type="text" id="username" name="username"  value="HoangTuCoDon">
              </div>
              <div class="col-50">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password"  value="nubacachi">
                <input type="checkbox" onclick="myFunction()">Show Password
              </div>

            </div>

            <div class="row">
              <div class="col-50">
                <label for="birthday">Gender</label>
                <input type="text" id="gender" name="gender"  value="Nam">
              </div>
              <div class="col-50">
                <label for="birthday">Birthday:</label>
                <input type="text" id="birthday" name="birthday"  value="20/01/1900">
              </div>
            </div>
          </div> 
        </div>
        <div class="row">
              <div class="col-25" >
                <input style="background-color: red; " type="button" value="Cancel" class="btn" onclick="window.location.href='ListQL_AD'">
              </div>
              <div class="col-25" >
                <input style="background-color: red; " type="reset" class="btn" value="Reset" >
              </div>
              <div class="col-25">
                <input type="button" value="Save" class="btn" onclick="window.location.href='ListQL_AD'">
              </div>

            </div>

      </form>
    </div>
  </div>
</div>

<script>
function myFunction() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>


</body>
</html>
